In [14]:
import pprint
import requests
import statistics
import pandas as pd
import csv

api_key = 'a50d564030495a1b4bc23b39b1971fef'
URL = 'http://api.openweathermap.org/data/2.5/forecast?'

    
loc = [
'Bengaluru,India',
'Glasgow,Scotland',
'Gumi,South Korea',
'Lagos,Nigeria',
'Niskayuna,New York',
'Nanaimo,Canada',
'Nizhny Novgorod,Russia',
'Olongapo,Phillipines',
'Peshawar,Pakistan',
'Peterhead,Scotland',
'Quito,Ecuador',
'Simmern,Germany',
'Tainan,Taiwan',
'Tbilisi,Georgia',
'Vinh Long,Vietnam',
'Xian,China']

    
temp_list = []   
total_min= []
total_max = []

weather_df = pd.DataFrame(
    columns = ['City', 'Min_1', 'Max_1', 'Min_2', 'Max_2', 'Min_3', 'Max_3', 'Min_4', 'Max_4', 'Min_avg', 'Max_avg'] )

#opens up the API key

for i in loc: 
    out_line = [i]
    api_key = 'a50d564030495a1b4bc23b39b1971fef'
    URL = 'http://api.openweathermap.org/data/2.5/forecast?'
  
    #grabs the website and makes the correct units
    
    Website = URL + 'q=' + i + '&appid=' + api_key + '&units=metric'
    response = requests.get( Website )

    if response.status_code == 200:      # Success
        data = response.json()
        
     #a for loop that tells Python to look for the first instance of time=0 and creates an initial index
    
        for j,item in enumerate(data['list']):
          
            if item['dt_txt'].split()[1] == "00:00:00":
                first_index = data['list'].index(item)
                first_index = j
                break
            else:
                continue
                
        #creates a counter to split into 4 8 block increments, representing a day
        
        counter = 0
        for item in data['list'][first_index:]:
            counter += 1

            if counter == 1 or counter % 8 == 1:
                min_list = []
                max_list = []

            #grabs both the temp min and temp max values from each 3 hour block and attaches them to empty list objects    
                
            temp_min = data['list'][counter]['main']['temp_min']
            min_list.append(temp_min)
            temp_max = data['list'][counter]['main']['temp_max']
            max_list.append(temp_max)
  
            #creates two new variabvles to take the overall min and overall max from each day and appends them to a new list called outline

            if counter % 8 == 0:
                overall_min = min( min_list )
                overall_max = max( max_list )
                out_line.append( overall_min )
                out_line.append( overall_max )
            
            
                
       #outside the for loop[, takes the sum of all the =mins and maxesd and divides them to compute the average min and average max for each city
    
    min_sum = out_line[ 1 ] + out_line[ 3 ] + out_line[ 5 ] + out_line[ 7 ]
    max_sum = out_line[ 2 ] + out_line[ 4 ] + out_line[ 6 ] + out_line[ 8 ]
    out_line.append(f'{min_sum / 4.0:.02f}')
    out_line.append(f'{max_sum / 4.0:.02f}')
    
    #converts outline to a dataframe and creates column names to attach to the columns
    
    #weather_df = pd.DataFrame(out_line)
    #weather_df= weather_df.transpose()
    #print(weather_df)
    line_df = pd.DataFrame( [ out_line ],
      columns = ['City', 'Min_1', 'Max_1', 'Min_2', 'Max_2', 'Min_3', 'Max_3', 'Min_4', 'Max_4', 'Min_avg', 'Max_avg'] )
    weather_df = pd.concat( [ weather_df, line_df ] )
   
    #creates a csv file called temp.csv

    #temperature = open('temp.csv', 'w')
    #writer = csv.writer(temperature)
    
    #data = [weather_df]
    #writer.writerow(data)
    
    #temperature.close()

weather_df.to_csv( 'temp.csv', index=False )
print( weather_df )

                     City  Min_1  Max_1  Min_2  Max_2  Min_3  Max_3  Min_4  \
0         Bengaluru,India  21.72  28.44  21.63  28.05  20.39   27.1  20.45
0        Glasgow,Scotland  13.75  18.02  14.78  17.61  13.82  21.33  14.29
0        Gumi,South Korea  20.47  22.05   21.2  22.77  19.74  25.49  15.59
0           Lagos,Nigeria  22.61  28.01  23.12  27.76  23.05  27.25  23.25
0      Niskayuna,New York  13.73  27.59  18.48  29.63  16.29  20.46  15.22
0          Nanaimo,Canada  15.55  25.07   16.8  21.32   13.3  18.85  14.17
0  Nizhny Novgorod,Russia   7.18  14.98   6.49  15.55   5.99   8.12   3.97
0    Olongapo,Phillipines  24.84   27.1   25.9  28.45   26.5  28.89  25.29
0       Peshawar,Pakistan  29.28  37.45   27.1  36.98  25.75  33.21  27.62
0      Peterhead,Scotland  15.02  16.32  15.31   15.9  15.16   16.1  15.11
0           Quito,Ecuador   7.99  18.39   7.83  14.78   7.36  15.39   7.74
0         Simmern,Germany  13.23  19.41   13.2  25.55  15.08  28.32  15.31
0           Tainan,Taiwan  26.44  29.53   26.9  30.37  26.84  31.87     27
0         Tbilisi,Georgia  24.11   37.4  21.96  35.22  18.32  30.62  17.21
0       Vinh Long,Vietnam  25.52  31.93  23.86   28.6  23.37  26.63  23.31
0              Xian,China  17.29  21.33   19.1  28.92  19.59  31.66  21.49

   Max_4 Min_avg Max_avg
0   26.6   21.05   27.55
0  19.39   14.16   19.09
0   18.7   19.25   22.25
0  27.26   23.01   27.57
0  21.15   15.93   24.71
0  20.62   14.96   21.47
0  10.66    5.91   12.33
0  29.19   25.63   28.41
0  35.55   27.44   35.80
0  16.65   15.15   16.24
0  12.54    7.73   15.28
0   26.8   14.21   25.02
0   31.2   26.80   30.74
0  23.25   20.40   31.62
0  24.56   24.02   27.93
0  33.64   19.37   28.89