In [1]:
#import necessary libraries and packages
import numpy as np
import pandas as pd
from scipy.stats import *
import random
import itertools

In [6]:
seed = 123
risk_free_rate = 0.065
initial_stock_price = 75.00
strike_price = 65.00
volatility = 0.3
time = 365/365
trials = 1000


def calculate_black_scholes_price(risk_free_rate, initial_stock_price, strike_price, volatility, time, decision = "call"):
    d1 = (np.log(initial_stock_price/strike_price) + time * (risk_free_rate + volatility**2/2))/(volatility * np.sqrt(time))
    d2 = d1 - volatility * np.sqrt(time)
    if decision == "call":
        #price equation if specification is for a call
        price = initial_stock_price * norm.cdf(d1) - strike_price * np.exp(-risk_free_rate * time) * norm.cdf(d2)
        return round(price, 3)
    elif decision == "put":
        #price equation  if specification is for a put
        price = strike_price * np.exp(-risk_free_rate * time) * norm.cdf(-d2) - initial_stock_price * norm.cdf(-d1) 
        return round(price, 3)

In [3]:
_risk_free_rate = np.random.uniform(0.01, 0.1, size=3)
_initial_stock_price = np.random.randint(10, 100, size=3)
_strike_price = np.random.randint(10, 100, size=3)
_volatility = np.random.rand(3)
_time = np.random.randint(1, 366, size=3) / 365

combinations = list(itertools.product(_risk_free_rate, _initial_stock_price, _strike_price, _volatility, _time))
df = pd.DataFrame(combinations, columns=['risk_free_rate', 'initial_stock_price', 'strike_price', 'volatility', 'time'])

In [4]:
df.head()

   risk_free_rate  initial_stock_price  strike_price  volatility      time
0        0.060362                   14            41    0.451548  0.197260
1        0.060362                   14            41    0.451548  0.657534
2        0.060362                   14            41    0.451548  0.575342
3        0.060362                   14            41    0.168846  0.197260
4        0.060362                   14            41    0.168846  0.657534

In [7]:
df["call"] = df.apply(lambda row: calculate_black_scholes_price(row.risk_free_rate, 
                                                   row.initial_stock_price, 
                                                   row.strike_price, 
                                                   row.volatility, 
                                                   row.time, 
                                                   decision="call"), axis=1)

df["put"] = df.apply(lambda row: calculate_black_scholes_price(row.risk_free_rate, 
                                                   row.initial_stock_price, 
                                                   row.strike_price, 
                                                   row.volatility, 
                                                   row.time, 
                                                   decision="put"), axis=1)

In [8]:
df

,risk_free_rate,initial_stock_price,strike_price,volatility,time,call,put
0,0.060362,14,41,0.451548,0.197260,0.000,26.515
1,0.060362,14,41,0.451548,0.657534,0.006,25.410
2,0.060362,14,41,0.451548,0.575342,0.003,25.603
3,0.060362,14,41,0.168846,0.197260,0.000,26.515
4,0.060362,14,41,0.168846,0.657534,0.000,25.405
...,...,...,...,...,...,...,...
238,0.045941,87,76,0.168846,0.657534,13.866,0.604
239,0.045941,87,76,0.168846,0.575342,13.489,0.506
240,0.045941,87,76,0.567321,0.197260,15.268,3.582
241,0.045941,87,76,0.567321,0.657534,22.167,8.906
242,0.045941,87,76,0.567321,0.575342,21.145,8.163